#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Images/loader.gif') 50% 50% no-repeat rgba(249,249,249,0.8);
}

h2 {
    margin: 10px 5px;
}

.filtros td {
    padding: 2px;
}

.resultados th {
    color: white;
    background-color: #4800ff;
    padding: 2px 5px;
}

.resultados td {
    padding: 2px 5px;
}

.resultados tr:nth-of-type(2n+1) td {
    background-color: #c1d4fb;
}

.resultados tr:nth-of-type(2n) td {
    background-color: #6a95d1;
}

.cabecera2 {
    color: #FFF;
    background-color: #4800ff;
    cursor: pointer;
    margin-bottom: 3px;
}

    .cabecera2:before {
        content: url('../Images/collapse.png');
        position: relative;
        top: 2px;
        height: 15px;
    }

.panel_active:before {
    content: url('../Images/expand.png') !important;
    position: relative;
    top: 2px;
    height: 15px;
}

.datos {
    padding: 5px;
}

#footer {
    height: 20px;
    line-height: 20px;
}

/* jPaginate CSS */
.jPaginate {
    height: 34px;
    position: relative;
    color: #a5a5a5;
    font-size: small;
    width: 100%;
}

    .jPaginate a {
        line-height: 15px;
        height: 18px;
        cursor: pointer;
        padding: 2px 5px;
        margin: 2px;
        float: left;
    }

.jPag-control-back {
    position: absolute;
    left: 0;
}
.jPag-control-front {
    position: absolute;
    top: 0;
}
.jPaginate span {
    cursor: pointer;
}

ul.jPag-pages {
    float: left;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0;
}

    ul.jPag-pages li {
        display: inline;
        float: left;
        padding: 0;
        margin: 0;
    }

        ul.jPag-pages li a {
            float: left;
            padding: 2px 5px;
        }

span.jPag-current {
    cursor: default;
    font-weight: normal;
    line-height: 15px;
    height: 18px;
    padding: 2px 5px;
    margin: 2px;
    float: left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img {
    height: 22px;
    margin: 2px;
    float: left;
    line-height: 18px;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img {
    margin: 2px 0 2px 2px;
    font-size: 12px;
    font-weight: bold;
    width: 10px;
}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img {
    margin: 2px 2px 2px 0;
    font-size: 12px;
    font-weight: bold;
    width: 10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img {
    margin: 2px 0 2px 2px;
    font-size: 18px;
    width: 15px;
    text-align: right;
}
span.jPag-snext,
span.jPag-snext-img {
    margin: 2px 2px 2px 0;
    font-size: 18px;
    width: 15px;
    text-align: right;
}
ul.jPag-pages li span.jPag-previous-img {
    background: transparent url(../images/previous.png) no-repeat center right;
}
ul.jPag-pages li span.jPag-next-img {
    background: transparent url(../images/next.png) no-repeat center left;
}
span.jPag-sprevious-img {
    background: transparent url(../images/sprevious.png) no-repeat center right;
}
span.jPag-snext-img {
    background: transparent url(../images/snext.png) no-repeat center left;
}

/* jPaginate CSS */

