body {
    font-size: 14px;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Images/loader.gif') 50% 50% no-repeat rgba(249,249,249,0.8);
}

h2 {
    margin: 10px 5px;
}

fieldset {
    border: 2px solid #45224f;
}

    fieldset legend {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #45224f;
        padding: 0 5px;
    }

.cabecera {
    padding: 2px 5px;
    font-weight: bold;
    color: #45224f;
    background-color: #b0c7b1;
    margin-top: 4px;
}
.contenedor {
    border: 1px solid #95b297;
    background-color: #eaffec;
    padding: 2px 5px 2px 0px;
}
.tabla {
    width: 100%;
}

    .tabla td {
        padding: 2px 3px;
    }

.label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.valor {
    position: relative;
    display: inline-block;
    padding: 1px;
    margin: 0 2px;
    text-align: center;
    min-height: 17px;
    width: 100%;
    min-width: 100%;
    background-color: #d9d9dd;
    border: 1px solid #4d4d4d;
}

#footer {
    height: 20px;
    line-height: 20px;
}
